.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.buyButton :global(.vtex-button__label) {
    content: "Comprar";
    background-color: #6db8b6;
    border: none;
}

.buyButton {
    /* background-color: #6db8b6; */
    background-color: #6db8b6;
    border: none;
    /* padding: 50px; */
    border-radius: 5px;
}

.buyButtonContainer {
    border: none;
}

.element :global(.vtex-button) {
    background-color: #6db8b6;
    /* border: 5px solid #6db8b6; */
    border-color: #6db8b6;
    width: 100%;
}

.element {
    text-align: center;
}

.element :global(.vtex-button__label) {
    background-color: #6db8b6;
}

.productBrand {
    font-weight: 400;
    font-size: 16px;
}